
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

<div id='top' class='container'>
	<h1><em>BLOCKCHAIN</em><span>TRACKING</span></h1>
</div>
	
<nav class="navbar navbar-fixed-top" id='topnav'>
	<div class="container">
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">HOME</a></li>
				<li routerLinkActive="active"><a routerLink="/track">TRACK MEDICINE</a></li>
				<!--<li routerLinkActive="active"><a routerLink="/about">HOW IT WORKS</a></li>-->
				<li routerLinkActive="active"><a routerLink="/login">LOG IN</a></li>
				<!--<li routerLinkActive="active"><a routerLink="/contact">CONTACT US</a></li>-->
			</ul>
		</div><!--/.navbar-collapse -->
	</div>
</nav>

<router-outlet></router-outlet>
