<div id='main' style='margin-top: 80px !important;'>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class='fullsize color4' >
		<div class='container'>
			<div id='trackformfinished'>
				<h2>Hello {{business}}</h2>
				<div class='row'>
					<div class='col-md-4'>
						
						<button data-toggle="modal" href="#myModal" class="btn btn-lg btn-block btn-primary buttons2">Add New Item Type</button>
						<button data-toggle="modal" href="#myModal2" class="btn btn-lg btn-block btn-primary buttons2">Add New Item</button>
						<button data-toggle="modal" href="#myModal3" class="btn btn-lg btn-block btn-primary buttons2">New Contract</button>
						
						
					</div>
					<div class='col-md-8'>
						<h3 style='margin:none;'>Item's Owned</h3>
						<table class="table">
						  <thead>
							<tr>
							  <th scope="col">ID</th>
							  <th scope="col">PackageType</th>
							  <th scope="col">Item Type</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <th scope="row">1</th>
							  <td>4531</td>
							  <td>Packaged</td>
							  <td>Ibuprofin</td>
							</tr>
						  </tbody>
						</table>
						<h3>Contracts</h3>
						<table class="table">
						  <thead>
							<tr>
							  <th scope="col">ID</th>
							  <th scope="col">Status</th>
							  <th scope="col">Buyer</th>
							  <th scope="col">Seller</th>
							  <th scope="col">UnitPrice</th>
							  <th scope="col">Quantity</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <th scope="row">1</th>
							  <td>4531</td>
							  <td>IN_TRANSIT</td>
							  <td>BusinessName1</td>
							  <td>BusinessName2</td>
							  <td>40</td>
							  <td>4</td>
							</tr>
						  </tbody>
						</table>
					</div>
			</div>
		</div>
	</div>
</div>

<!--Item Type-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><!--×-->&times;</button>
          <h4 class="modal-title">Add New Medicine Type:</h4>
        </div>
        <div class="modal-body">
            <form>
        		<input id='nmtname' type='text' placeholder='New Medicine Name'/>
        		<input id='nmtuom' type='text' placeholder='mL or g'/>
        		<input id='nmtid' type='number' placeholder='Medical ID'/>
        	</form>
        </div>
        <div class="modal-footer">
          <button href="#" data-dismiss="modal" class="btn btn-primary" >Close</button>
          <button href="#" class="btn btn-primary" (click)='addNewMedicineType()'>Add</button>
        </div>
      </div>
    </div>
</div>

<!--Item-->
<div class="modal fade" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><!--×-->&times;</button>
          <h4 class="modal-title">Add New Medicine To Inventory:</h4>
        </div>
        <div class="modal-body">
            <form>
        		<input id='nmtype' type='text' placeholder='What type of medicine?'/>
        		<input id='nmpackage' type='number' placeholder='Package Type'/>
        	</form>
        </div>
        <div class="modal-footer">
          <button href="#" data-dismiss="modal" class="btn btn-primary" >Close</button>
          <button href="#" class="btn btn-primary" (click)='addNewMedicine()'>Add</button>
        </div>
      </div>
    </div>
</div>

<!--Contract-->
<div class="modal fade" id="myModal3">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><!--×-->&times;</button>
          <h4 class="modal-title">New Contract:</h4>
        </div>
        <div class="modal-body">
            <form>
        		<input id='SellingBusiness' type='text' placeholder='Selling Business'/>
        		<input id='BuyingBusiness' type='text' placeholder='Buying Business'/>
        		<input id='ItemBuy' type='text' placeholder='Item'/>
        		<input id='UnitPrice' type='number' placeholder='Unit Price'/>
        		<input id='Quantity' type='number' placeholder='Quantity'/>
        	</form>
        </div>
        <div class="modal-footer">
          <button href="#" data-dismiss="modal" class="btn btn-primary" >Close</button>
          <button href="#" class="btn btn-primary" (click)='addNewContract()'>Add</button>
        </div>
      </div>
    </div>
</div>
