<div id='main'>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id='banner' class='fullsize'>
		<div id='jumbo' class="jumbotron">
		  <div class="container">
			<div id='bannertext'>
				<h2>WELCOME TO BLOCKCHAIN TRACKING</h2>
				<p>Click below to track the path your medicine has taken to reach you</p>
				<p><a id='bannerbutton' class="btn btn-primary btn-lg" href="#" role="button">TRACK MEDICINE</a></p>
			</div>
		  </div>
		</div>
    </div>
	<div id='line'></div>
	<div class='container'>
		<div id='holdboxes'>
			<div class="row">
				<div class="col-md-4 color1 subboxes">
				  <i class="fas fa-truck fa-3x" aria-hidden="true"></i>
				  <h3>Know The Roots</h3>
				  <p>Know exactly where your medicine came from and whether or not it's legitimate</p>
				  </div>
				<div class="col-md-4 color2 subboxes">
				  <i class="fas fa-heartbeat fa-3x" aria-hidden="true"></i>
				  <h3>Stay Healthy</h3>
				  <p>Know that your health will be okay after using your medicine.</p>
				  </div>
				<div class="col-md-4 color3 subboxes">
				  <i class="fas fa-users fa-3x" aria-hidden="true"></i>
				  <h3>Help Others</h3>
				  <p>Flag down untrustworthy sources and help stop the problem</p>
				  </div>
			  </div>
		</div>
	</div>
	
    <div id='howdoeswork' class="container">
      <!-- Example row of columns -->
	  <h2 id='howwork'>How Does Blockchain Work?</h2>
		<div class="row">
			<div class="col-md-6" >
				<i class="fas fa-industry fa-3x" aria-hidden="true"></i>
				<div>
					<h3>Step 1</h3>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
				</div>
			</div>
			<div class="col-md-6">
				<i class="far fa-handshake fa-3x" aria-hidden="true"></i>
				<div>
					<h3>Step 2</h3>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<i class="fas fa-cog fa-3x" aria-hidden="true"></i>
				<div>
					<h3>Step 3</h3>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
				</div>
			</div>
			<div class="col-md-6">
				<i class="fas fa-laptop fa-3x" aria-hidden="true"></i>
				<div>
					<h3>Step 4</h3>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
				</div>
			</div>
		</div>
</div>
	<div id='databoxes'>
		<div class='col-md-3 color1'>
			<p><span class='numberbox numscroller' data-min='0' data-max='158' data-delay='8' data-increment='5' id='chainlength'>0</span><br />Chains on the Blockchain</p>
		</div>
		<div class='col-md-3 color2'>
			<p><span class='numberbox numscroller' data-min='0' data-max='5024' data-delay='8' data-increment='10'  id='chainlength'>0</span><br />People have tracked their medicine</p>
		</div>
		<div class='col-md-3 color3'>
			<p><span class='numberbox numscroller' data-min='0' data-max='35' data-delay='8' data-increment='3'  id='chainlength'>0</span><br />Organizations on the system</p>
		</div>
		<div class='col-md-3 color4'>
			<p><span class='numberbox numscroller' data-min='0' data-max='7215' data-delay='8' data-increment='10'  id='chainlength'>0</span><br />Medicines Tracked</p>
		</div>
	</div>
	
		<div id='otherinfo' class='container'>
			<!--<h2 class='h2text'>Benefit of Blockchain Tracking?</h2>-->
			<div class='row'>
				<div class="col-md-6">
					<h5>Looking at the facts</h5>
					<h4>Benefit of Blockchain Tracking?</h4>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis arcu. Vestibulum consequat consequat justo, sit amet sodales erat consectetur sit amet. Nullam in velit vel erat finibus condimentum. Mauris viverra condimentum porttitor. Pellentesque aliquet eros eu porta venenatis. Suspendisse mollis risus urna, sed vehicula turpis finibus eget. Donec a congue ligula. Maecenas aliquam, augue vitae pulvinar commodo, lorem nisi fringilla leo, nec ultrices dui dui vitae orci. 
					</p>
				</div>
				<div class="col-md-6">
					<h5>Regarding trust for my medicine</h5>
					<h4>What Makes This System Safe?</h4>
					<p>
					Integer vel ipsum suscipit, fermentum velit ut, luctus elit. Nulla sed mollis diam, tempus ultrices est. Fusce eget dapibus ligula. Vestibulum suscipit blandit mauris vel finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras a purus at lectus faucibus laoreet. Donec sollicitudin risus vitae ligula lobortis, in rutrum diam ornare. Cras congue augue metus, eget fermentum mi accumsan dignissim.
					</p>
				</div>
			</div>
			<hr />
			<div class='row'>
				<div class="col-md-6" data-aos="zoom-in">
					<h5>Looking at the facts</h5>
					<h4>Question #3</h4>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis arcu. Vestibulum consequat consequat justo, sit amet sodales erat consectetur sit amet. Nullam in velit vel erat finibus condimentum. Mauris viverra condimentum porttitor. Pellentesque aliquet eros eu porta venenatis. Suspendisse mollis risus urna, sed vehicula turpis finibus eget. Donec a congue ligula. Maecenas aliquam, augue vitae pulvinar commodo, lorem nisi fringilla leo, nec ultrices dui dui vitae orci. 
					</p>
				</div>
				<div class="col-md-6" data-aos="zoom-in">
					<h5>Regarding trust for my medicine</h5>
					<h4>Question #4</h4>
					<p>
					Integer vel ipsum suscipit, fermentum velit ut, luctus elit. Nulla sed mollis diam, tempus ultrices est. Fusce eget dapibus ligula. Vestibulum suscipit blandit mauris vel finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras a purus at lectus faucibus laoreet. Donec sollicitudin risus vitae ligula lobortis, in rutrum diam ornare. Cras congue augue metus, eget fermentum mi accumsan dignissim.
					</p>
				</div>
			</div>
		</div>
		<footer class='color1'>
			<div class='container'>
				<div class='row'>
					<div class='col-md-4'>
						<h4>Thing 1</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis arcu. Vestibulum consequat consequat justo, sit amet sodales erat consectetur sit amet. Nullam in velit vel erat finibus condimentum.</p>
					</div>
					<div class='col-md-4'>
						<h4>Thing 2</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lobortis arcu. Vestibulum consequat consequat justo, sit amet sodales erat consectetur sit amet. Nullam in velit vel erat finibus condimentum.</p>
					</div>
					<div class='col-md-4'>
						<p>&copy; 2017 Blockchain, Inc.</p>
					</div>
				</div>
			</div>
		</footer>
    </div> <!-- /container -->