<div id='main'>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class='color4' style='position: fixed; top: 0; right: 0; left: 0; bottom: 0; width: 100%;height: 100%;z-index: -1'></div>
    <div class='fullsize color4' *ngIf="showMedicine==false">
		<div class='container'>
			<form id='trackform' class="form-signin"  (submit)="submitMedicine(medicine.value)">
				<h2 class="form-signin-heading">Track Your Medicine</h2>
				<label for="inputMedicine" class="sr-only">Medicine ID</label>
				<a href='trackffilledin.html'><button class="btn btn-lg btn-primary btn-block buttons" type="submit">Look Up</button>
				</a>
				<input type="text" id="inputMedicine" class="form-control inputs" placeholder="Medicine ID" required autofocus #medicine>
				
				<a href='#' id='needhelp'>Need Help?</a>
			</form>
		</div>
	</div>
    <div class='fullsize color4' *ngIf="showMedicine">
		<div class='container'>
			<div id='trackformfinished'>
				<h2>Medicine #{{medicine}}</h2>
				<div class='row'>
					<div id='medinfo' class='col-md-4'>
						<h3 style='margin-bottom: 20px;'>Medicine Details</h3>
						<h4 class='lessbigh4'>Active Ingredients: <span>{{medname.split("#")[1].split("%20").join(" ")}}</span></h4>
						<h4 class='lessbigh4'>Amount: <span>{{medamount}}{{UoM}}</span></h4>
						
						
					</div>
					<div class='col-md-8'>
						<h3>Medicine's Path</h3>
						<table class="table">
						  <thead>
							<tr>
							  <!--<th scope="col">#</th>-->
							  <th scope="col">From</th>
							  <th scope="col">To</th>
							  <th scope="col">Date</th>
							</tr>
						  </thead>
						  <tbody>
							<tr *ngFor="let contract of contracts">
							 <!-- <th scope="row">{{contract.contractId}}</th>-->
							  <th scope="row">{{contract.sellingBusiness.split("#")[1].split("%20").join(" ")}}</th>
							  <td>{{contract.buyingBusiness.split("#")[1].split("%20").join(" ")}}</td>
							  <td>{{contract.arrivalDateTime}}</td>
							</tr>
						  </tbody>
						</table>
					</div>
				</div>
				<div id='trackfilledinfo' class='row'>
					<div class='col-md-{{contractlen}}' *ngFor="let contract of contracts">
						<i class="fa fa-{{contract.icon}} fa-4x" aria-hidden="true"></i>
						<h3>{{contract.sellingBusiness.name}}</h3>
						<p>A little bit of information about the company listed above provided by the company.</p>
					</div>
				</div>
				<!--<a routerLink="/login"><button style='margin-left: 10px; width: 150px;' class="btn btn-lg btn-primary btn-block buttons2" type="submit">Log Entry</button>
				</a>--><a (click)='newTrack()'>
				<button class="btn btn-lg btn-primary btn-block buttons2" type="submit">Look Up Another Medicine</button>
				</a>
			</div>
		</div>
	</div>
</div>